<nav class="navbar navbar-expand navbar-light mp-4">
    <div class="container">
        <a routerLink="/" routerLinkActive="router-link-active"  class="navbar-brand">Angular-App</a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="/users" class="nav-link">Users</a>
            </li>
        </ul>
    </div>
</nav>