<h2>{{ user.name }}</h2>

<button class="btn btn-sm btn-outline-secondary mb-3" (click)="zeigeErweiterte = !zeigeErweiterte">
    <i class="fas" [ngClass]="zeigeErweiterte ? 'fa-minus' : 'fa-plus'"></i>
</button>
<ul *ngIf="zeigeErweiterte" class="list-group">
    <li class="list-group-item">ID: {{user.id}}</li>
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
</ul>