<h1>Users</h1>
<button class="btn btn-primary mb-2"(click)="addUser= !addUser" *ngIf="!addUser">Add User</button>
<div class="card card-body mb-3" *ngIf="addUser">

    <form (submit)="saveUser($event)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="currentUser.name">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="currentUser.username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="currentUser.email">
        </div>        
        <button type="submit" class="btn btn-primary mt-3">Save User </button>
    </form>
</div>
<ul class="list-unstyled">
    <li class="card mb-2" *ngFor="let user of users">
        <div class="card-body">
            <button class="btn btn-secondary btn-sm mb-3 me-2" (click)="editUser(user)" title="User bearbeiten">
                <i class="fas fa-edit"></i>
            </button>
            <a class="btn btn-outline-info btn-sm mb-3" [routerLink]="[user.id, 'messages']" title="Nachrichten anzeigen" >
                <i class="fas fa-comments"></i>
            </a>
            <app-user [user]="user"></app-user>
        </div>
    </li>
    <li *ngIf="users.length==0">Keine User gefunden</li>
</ul>